@import 'colors';

.border-yellow{
  border:2px solid  $color-yellow;
}

.border-green{
  border:2px solid  $color-green;
}

.border-red{
  border:2px solid  $color-red;
}

.border-orange{
  border:2px solid  $color-orange;
}

.border-blue{
  border:2px solid  $color-blue;
}

.border-dark-grey{
  border:2px solid  $color-dark-grey;
}

.border-grey{
  border:2px solid  $color-grey;
}

.border-black{
  border:2px solid  $color-black;
}

.border-white{
  border:2px solid  $color-white;
}
