@import 'colors';
$border-width-sm: 1px;
$border-width-md: 2px;

.border{
  border:$border-width-sm solid $color-dark-grey;
}

.border-sm{
  border-width: $border-width-sm !important;
}

.border-md{
  border-width: $border-width-md !important;
}

.border-yellow{
  border-color:  $color-yellow !important;
}

.border-green{
  border-color:  $color-green !important;
}

.border-red{
  border-color:  $color-red !important;
}

.border-orange{
  border-color:  $color-orange !important;
}

.border-blue{
  border-color:  $color-blue !important;
}

.border-dark-grey{
  border-color:  $color-dark-grey !important;
}

.border-grey{
  border-color:  $color-grey !important;
}

.border-black{
  border-color:  $color-black !important;
}

.border-white{
  border-color:  $color-white !important;
}
