@import 'colors';

.card{
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;

  .card-title{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    color: $color-white;
    border-bottom: 1px solid $color-dark-grey;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .card-body{
    padding: 10px;
  }

  .card-footer{
    padding: 10px;
    border-top: 1px solid $color-dark-grey;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
