$color-yellow : #decf58;
$color-green : #7cb079;
$color-red : #c75555;
$color-orange : #db984d;
$color-blue : #41a0ce;
$color-dark-grey : #313131;
$color-grey : #bbbbbb;
$color-black : #000000;
$color-white : #FFFFFF;
