.margin-sm{
  margin: 5px;
}

.margin-md{
  margin: 10px;
}

.margin-lg{
  margin: 15px;
}

.margin-el{
  margin: 20px;
}

.margin-top-sm{
  margin-top: 5px;
}

.margin-right-sm{
  margin-right: 5px;
}

.margin-bottom-sm{
  margin-bottom: 5px;
}

.margin-left-sm{
  margin-left: 5px;
}
