@import 'text';
@import 'padding';
@import 'margin';
@import 'background';
@import 'border';

//The file below using file up
@import 'card';
@import 'button';

*{
  font-family: 'Open Sans', sans-serif;
}

.clear{
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}
